.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    margin: 0 auto;
    width: 1170px;
    text-align: center;
}

.hlavicka {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 5rem;
    background-color: white;
}

@media screen and (max-width: 710px) {
    .menu {
        display: none;
    }
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

header .btn {
    background-color: rgb(209, 205, 205);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.btn--with-arrow:after {
    content: "→";
    margin-left: 6px;
}
h1 {
    font-size: 100px;
    align-self: center;
    margin: 2rem;
}

.back{
    background-color: #E9B44C;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    align-self: center;
    margin: 2rem;
    width: auto;
}

/* What happend here? Please use enter :-) */