*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: inline-block;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

@media screen and (max-width: 1200px) {
    .uvod__title {
        font-size: 2.5rem;
    }

    .container {
        width: 100%;
        padding: 0 3rem;
    }
}

@media screen and (max-width: 992px) {
    .container--hero {
        width: 100%;
    }
}

.hlavicka {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 5rem;
    background-color: white;
}

@media screen and (max-width: 710px) {
    .menu {
        display: none;
    }
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

header .btn {
    background-color: rgb(209, 205, 205);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.btn--with-arrow:after {
    content: "→";
    margin-left: 6px;
}

/* Great job here. But when using colors, stick with !one! type of declaration -> white/#ffffff/rgb(255,255,255)*/



.uvod {
    padding: 2rem 0;
    background-color: #003057;
    color: #ffffff;
}

.container--uvod {
    width: 55%;
}

@media screen and (max-width: 1200px) {
    .container--uvod {
        width: 100%;
    }
}

.uvod a {
    background-color: #E9B44C;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.uvod__title {
    font-size: 4rem;
}

@media screen and (max-width: 768px) {
    .uvod__title {
        font-size: 2.5rem;
    }
}

.uvod p {
    font-size: 25px;
    padding: 20px 0;
}

h2 {
    font-size: 45px;
    text-align: center;
}
@media screen and (max-width:768px) {
    h2 {
        font-size: 2rem;

    }
}

.flexbox {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (max-width:768px) {
    .flexbox {
        flex-direction: column;

    }
}

.strategie {
    background-color: #DBECE5;
    position: relative;
}

.flexbox .design-element {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(2);
    filter: invert(1);
}

.flexbox__item {
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    color: #323436f1;
    justify-content: space-between;

    overflow: hidden;
}

.marketing {
    background-color: #D1ECFD;
    position: relative;
}

.site {
    background-color: #FFF3EA;
    position: relative;
}

.flexbox a {
    margin-top: auto;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    align-self: flex-start;
    font-size: 15px;
}

.flexbox img {
    width: 5rem;
    margin: 0;

}

.flexbox h3 {
    font-size: 32px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
}

.flexbox p {
    font-size: 15px;
}

.contact {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    margin: 0.5rem auto;
}

.contact img {
    width: 5rem;
}

.contact a {
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 1.5rem;
}

.contact p {
    margin-left: auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0.5rem auto;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    gap: 1rem;

}
@media screen and (max-width:615px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    }


footer h4 {
    margin: 0 0 1rem 0;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    color: #323436f1
}

footer p {
    color: #323436f1;
    font-size: 15px;
}

footer ul {
    list-style-type: none;
    line-height: 1.5rem;
    margin: 1rem 0;
    padding: 0;
}

footer .mail {
    text-decoration: underline;
}

footer .phone {
    text-decoration: underline;
}

@media screen and (max-width:615px) {
    .foot {
        padding-left: 5rem;
    }
    }

    @media screen and (max-width:494px) {
        .foot {
            padding-left: 2.5rem;
        }
        }