body {
    margin: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5%;
    align-items: center;
}

header img {
    width: 5rem;
    background-color: white;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 1rem;
    font-weight: bold;

}

header .btn {
    background-color: rgb(209, 205, 205);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    color: black;
}





.uvod {
    background-color: #0B3658;
    color: white;
    padding: 5%;
    padding-right: 55%;
}

.uvod a {
    background-color: #E9B44C;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 75px;
}

.uvod p {
    font-size: 25px;
    padding: 20px 0;
}

h2 {
    font-size: 45px;
    text-align: center;
}

.flexbox {
    display: flex;
}

.strategie {
    background-color: #DBECE5;
}

.marketing {
    background-color: #D1ECFD;
}

.site {
    background-color: #FFF3EA;
}
.flexbox a {background-color: white;
border-radius: 30px;
padding: 20px;
font-weight: bold;
text-decoration: none;}